.iterationTables {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .leftTable {
    width: 28%;
    background-color: white;
    height: max-content;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
  }

  .rightTable {
    background-color: white;
    width: 70%;
    height: max-content;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    position: relative;
  }
}

.containerSelector {
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  padding-top: 5%;
  background-color: aliceblue;
}

.card {
  display: flex;
  direction: row;
  width: 50%;
  height: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
}
.pi {
  padding-right: 10%;
  padding-left: 10%;
}
.dropdown {
  display: flex;
  direction: row;
  margin: 10px;
}
