.pageBody {
    display: flex;

    .mainPage {
        width: 88vw;
        height: 40vw;
        padding: 50px 200px;
        background-image: url(./amdocs-logo.jpg);
        background-size: 50% 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
}